  
  h1{
    color:#1ecec9;
    font-family:monospace;
    font-size: 3em;
    font-style: italic;
    text-align: center;
  }
  .parent{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .box, .box1 {
    border: 2px solid aqua; /* Ajout de l'épaisseur de la bordure */
    border-radius: 8px;
    padding: 20px; /* Espacement intérieur */
    background-color: white; /* Couleur de fond pour la boîte */
    text-align: center;
  }
  
  
  
  .chart-container {
    width: 50%; 
    height: auto;
    margin: auto;
  }
  